/* Pour le titre comme cela il n'y a pas de numérotation au */
#titre{
font-size: 24pt; 
color:#ff0000;
text-decoration: underline;
text-align: center;
font-weight: bold;
}

div.text_cell_render { font-size: 12pt;   line-height: 145%; }
div.text_cell_render h1{font-size: 24pt; color:crimson;  text-decoration: underline;}
div.text_cell_render h2{font-size: 18pt;color:DarkSlateBlue;  text-decoration: underline;}
div.text_cell_render h3{font-size: 14pt;color:#0000ff;  text-decoration: underline;}
div.text_cell_render h4{font-size: 12pt;color:#0000ff;  text-decoration: underline; }
div.text_cell_render h5 {font-weight: 300;}


div.cell.code_cell { /* area that contains code + output */
    background: #ffffff;
    border: none;
    border-radius: 10px;
    padding-top: 1ex;
}

div.input_area { /* box around box with code */
    border: none;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 0.5em;
}

div.input { /* box with code */
}

div.CodeMirror { /* code font */
    font-family: "Inconsolata-dz", monospace;
    font-size: 10pt;
}





.rendered_html code {
    background: SteelBlue ;
    color: white}


/*div.text_cell_render  code { font-size: medium; border: 3px #ababab solid; background-color: #f5f5f5;}*/
/*.rendered_html code { border: 3px #ababab solid; background-color:  #f5f5f5;}*/
/*.rendered_html blockquote { margin: 1em 2em; background: red; }*/

.rendered_html ol { list-style:decimal;  margin: 1em 1em;}
.rendered_html ol ol {list-style:lower-alpha; margin:  0.5em  0em;  }

/* classe pour inverse video */
.reverse{
    background-color: black;
    color: white;
}
/*  strick   <s>texte/<s>*/
.barre{

}


/*  Afficher ou cacher la solution d'un exercice  */
/* .rouge, label {cursor:pointer; border:3px; border-style: dashed; border-color: blue; }
input { display:none;  }
#exo1:checked+.exo {  display:none; }
#exo2:checked+.exo {  display:none; }
#exo3:checked+.exo {  display:none; }
#exo4:checked+.exo {  display:none; }
#exo5:checked+.exo {  display:none; }
#exo6:checked+.exo {  display:none; }
#exo7:checked+.exo {  display:none; }
#exo8:checked+.exo {  display:none; }
#exo9:checked+.exo {  display:none; }
#exo11:checked+.exo {  display:none; }
#exo12:checked+.exo {  display:none; }
#exo13:checked+.exo {  display:none; }
#exo14:checked+.exo {  display:none; }
#exo15:checked+.exo {  display:none; }
#exo16:checked+.exo {  display:none; }
#exo17:checked+.exo {  display:none; }
#exo18:checked+.exo {  display:none; }
#exo19:checked+.exo {  display:none; }
#exo20:checked+.exo {  display:none; }
*/

.rouge { color: red;}

/* change markdown code snipet wrapper style */
.rendered_html pre {
  margin: 1em 2em;
  padding: 0px;
  background-color: #f7f7f7;
  border-left: solid 5px SteelBlue;
  padding-left: 5px;
}
.rendered_html pre code{
    background-color: #f7f7f7;
        color: black
}



/*  Afficher ou cacher la solution d'un exercice  */
.rouge, label {cursor:pointer; border:3px; border-style: dashed; border-color: blue; }
input { display:none;  }
#exo1:checked+.exo {  display:none; }
#exo2:checked+.exo {  display:none; }
#exo3:checked+.exo {  display:none; }
#exo4:checked+.exo {  display:none; }
#exo5:checked+.exo {  display:none; }
#exo6:checked+.exo {  display:none; }
#exo7:checked+.exo {  display:none; }
#exo8:checked+.exo {  display:none; }
#exo9:checked+.exo {  display:none; }
#exo11:checked+.exo {  display:none; }
#exo12:checked+.exo {  display:none; }
#exo13:checked+.exo {  display:none; }
#exo14:checked+.exo {  display:none; }
#exo15:checked+.exo {  display:none; }
#exo16:checked+.exo {  display:none; }
#exo17:checked+.exo {  display:none; }
#exo18:checked+.exo {  display:none; }
#exo19:checked+.exo {  display:none; }
#exo20:checked+.exo {  display:none; }


/* Réduire les marge à droite et à gauche */
div#notebook-container    { width: 95%; }
div#menubar-container     { width: 65%; }
div#maintoolbar-container { width: 99%; }



table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
  text-align: center;
}
